@media (max-width:767px){

    /* Navigation bar */
    .navigationbar-container{
        padding: 5px;
        width: 90%;
        margin: auto;
    }

    /* for three line icon  */
    .hamburgerMenu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 15px;
    }
    .line{
        padding: 1px;
    }

    /* to hide the navbar of big screen  */
    .navigationbar-contents{
        display: none;
    }

    /* to show the nabvar for mobile on smaller screen  */
    .sidebar-open .navbarforMobile {
        display: block;
    }

    /* hiding the loginsignup button of big screen  */
    .loginSignupBtn-desktop{
        display: none;
    }

    /* mobile nav bar  */
    .navbarforMobile{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        padding: 5px;
        width: 40%;
        height: 100vh;
        z-index: 11;
        background-color: #101720;
        color: #f0f8ff
    }

    /* navbar items  */
    .navItems{
        width: 95%;
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

    /* close (x) button  */
    .closeNavBar{
        font-size: 24px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: #888; ;
    }

    /* .login-signup-button for small devices  */
    .loginSignupBtn-mobile{
        left: 20px;
    }

    .login-signup-button{
        margin-top: 15px;
        padding: 5;
        font-size: smaller;
    }

    /* dropdown when cliked avatar after logged in  */
    .dropdown-content{
        display: block;
        position: absolute;
        top: 4rem;
        left: 0.8rem;
        padding: 2px;
        min-width: 100px;
        max-width: 150px;
        text-align: center;
        font-size: smaller;
        border-radius: 10px;
        z-index: 5;
        height: auto;
    }

    /* first name icon */
    .dropdown-content h3{
        border-radius: 50%;
        width: 3rem;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5rem;
    }

    /* user name of user  */
    .dropdown-content p:nth-child(2){
        margin-top: 0.5rem;
        font-size: 1rem;
    }

    /* my bookings */
    .dropdown-content p:nth-child(3){
        margin-top: 0rem;
        margin: 1rem;
        border-radius: 5px;
        padding: 5px 7px;
        text-decoration: none;
        font-size: 0.5rem;
    }
    .dropdown-content #logout{
        margin-top: 0rem;
        display: block;
        margin: 1rem;
        border-radius: 5px;
        padding: 5px 7px;
        text-decoration: none;
        font-size: 1rem;
    }
    .dropdown-content a{
        margin-top: auto;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        align-self: flex-end;
    }
    .myBooking{
        text-decoration: none;
        cursor: pointer;
    }
    .room-details {
        flex: 1; /* Take remaining space */
    }

    /* Room Cards */
    .room-card-withmoreDetail {
        display: block;
        justify-content: left;
        width: 100%;
        margin: 0 auto 10px;
        border-radius: 10px;
        overflow: hidden;
    }
    .room-card {
        display: block;
        justify-content: left;
        padding: 5px;
    }
    .room-card img {
        width: 100%;
        height: auto; /* Adjust height automatically */
        border-radius: 10px;
        margin-bottom: 10px; /* Add some space between image and details */
    }
    .room-features,
    .room-facilities {
    margin-top: 8px;
    padding: 10px;
    border-radius: 5px;
    }
    .carousel-item img{
        height: 150px;
    }

    /* for the booking confirmation modal  */
    .confirmBookingModal{
        left: 5%;
        width: 350px;
        padding: 8px;
        background-color: #eee;
        z-index: 3;
    }
    .confirmBookingModal input[type="text"],
    input[type="number"],
    input[type="email"]{
        display: block;
        width: 100%;
        padding: 3px;
        border-radius: 5px;
        border: none;
    }
    
    /* for booking div (contains book & more details button) */
    .booking {
        display: block;
        align-items: center;
        margin-top: 20px;
    }
    .booking h4 {
        margin: 0;
        font-size: 15px;
        color: #333;
    }
    .book-button,
    .more-details-button {
        font-size: smaller;
        margin-top: 10px;
        background-color: #101720;
        color: #f0f8ff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        font-weight: bold;
    }

    /* Footer */
    footer{
        width: 100%;
    }
    .footer-container{
        font-size: smaller;
        padding-top: 3rem;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .about-hotel{
        width: 30%;
        text-align: left;
        padding: 5px;
    }
    
    #socialIcon{
        margin-right: 5px;
    }
    .links{
        display: flex;
        flex-direction: column;
    }
    .links a{
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        margin-bottom: 5px;
    }
    .follow-us-links{
        margin-right: 30px;
        display: flex;
        flex-direction: column;
    }
    
    
    .follow-us-links a{
        margin-right: 3px;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        margin-bottom: 5px;
    }

    hr{
        width:99%;
        position: relative;
        left: 10px;
    }
    
    .privacy-container{
        font-size: smaller;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        padding: 5px;
    }
    .privacy-policy{
        margin-left: 30px;
    }
    .terms-and-conditions{
        margin-left: 20px;
    }
    .privacy-container a{
        text-decoration: none;
    }
}
