@media (max-width:767px){
    .room-card{
        font-size: large;
        position: relative;
        border: #ccc;
        border-radius: 5px;
        box-shadow: 5px 5px 8px rgba(0,0,0,0.1);
        padding: 10px;
        width: 400px;
        margin: 10px;
        text-align: center;
    }
    .room-card img{
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .room-card h3{
        font-family: 'Merienda', cursive;
        font-size: 24px;
        margin-top: 10px;
    }
    .room-card p{
        font-family: 'Poppins', sans-serif;
        margin: 10px 0;
    }
    .room-card strong{
        font-weight: bold;
    }
    
    /* style for room features & facility div  */
    .room-features,
    .room-facilities{
        margin-top: 15px;
        text-align: left;
    }
    
    /* style for each facility & feature  */
    .feature,
    .facility{
        display: inline-block;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px 10px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        margin-right: 5px;
    }
    .room-features h4,
    .room-facilities h4{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .room-features .feature span,
    .room-facilities .facility span{
        font-family: 'Poppins', sans-serif;
        box-shadow: rgba(0,0,0,0.1);
        display: inline-block;
        margin-right: 10px;
    }
    
    /* button inside room card  */
    .book-button{
        margin-top: 5px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
    }
    .book-button:hover{
        background-color: #0056b3;
    }
}