/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* for styling all heading with same font  */
.heading-font{
    font-family: 'Merienda', cursive;
}

/* for styling all texts with same font  */
.text-font{
    font-family: 'Poppins', sans-serif;
}

.userData-Container {
    background-color: #ccc;
    margin: 20px;
}
.userData-Container h2{
    padding: 10px;
    text-align: center;
}

.bookedRoomsSection{
    background-color: #eee;
}

.room-card {
    display: flex;
    align-items: center;
    padding: 20px;
}

.room-card img {
    width: 400px;
    height: 250;
    border-radius: 10px;
    margin-right: 20px;
}

.room-details {
    flex: 1; /* Take remaining space */
}

.room-details h3,
.room-details p {
    text-align: left;
    margin: 0;
    padding: 5px 0;
    color: #333;
}

.room-features,
.room-facilities {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.booking h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.cancelBooking-button{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cancelBooking-button i{
    margin-right: 5px;
}
.book-button{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

