/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #101720;
}

/* for styling all heading with same font  */
.heading-font{
    font-family: 'Merienda', cursive;
}

/* for styling all texts with same font  */
.text-font{
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #1f232e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.goBackBtn{
    position: absolute;
    right: 5rem;
    top: 20px;
    background-color: #1f232e;
    color: #f0f8ff;
    border: 1px solid #f0f8ff;
    font-size: 1rem;
    cursor: pointer;
    padding: 3px;
}

.userData-Container {
    background-color: #101720;
    color: #f0f8ff;
    margin: 20px;
}
.userData-Container h2{
    padding: 10px;
    text-align: center;
}

.bookedRoomsSection{
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: #101720;
}

.room-card {
    background-color: #f0f8ff;
    color: #101720;
    margin-top: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.room-card img {
    width: 400px;
    height: 250;
    border-radius: 10px;
    margin-right: 20px;
}

.room-details {
    flex: 1; /* Take remaining space */
}

.room-details h3,
.room-details p {
    text-align: left;
    margin: 0;
    padding: 5px 0;
    color: #333;
}

.room-features,
.room-facilities {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.booking h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.cancelBooking-button{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cancelBooking-button i{
    margin-right: 5px;
}

.bookingDates{
    background-color: #f0f8ff;
    color: #101720;
    border: 1px solid #101720;
    padding: 5px;
    margin-top: 5px;
    font-weight: bold;
}
