* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../blackBG.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 10px;
}

/* For styling all headings with the same font */
.heading-font {
    font-family: 'Merienda', cursive;
}

/* For styling all texts with the same font */
.text-font {
    font-family: 'Poppins', sans-serif;
}

.adminLoginContainer {
    padding: 10px;
    width: 100%;
    height: 39rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminLoginForm {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 400px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
}

.adminLoginForm h3 {
    font-size: 28px;
    background-color: black;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.adminLoginForm input[type="text"],
.adminLoginForm input[type="password"] {
    display: block;
    width: 90%;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 15px auto;
    border-radius: 5px;
}

.toggle-password-visibility {
    margin-top: 3px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.login-btn {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: rgb(108, 176, 5);
}

button:active {
    transform: scale(0.9);
    transition: all ease 0.2s;
}
