<<<<<<< HEAD
*{
    background-color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    padding: 10px;
}

/* for styling all heading with same font  */
.heading-font{
    font-family: 'Merienda', cursive;
}

/* for styling all texts with same font  */
.text-font{
    font-family: 'Poppins', sans-serif;
}

.adminLoginForm{
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    width: 400px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.adminLoginForm h3{
    text-align: center;
    font: 28px;
    background-color: black;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
}

.adminLoginForm input[type ="text"],
input[type = "password"]{
    display: block;
    width: 99%;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.toggle-password-visibility{
    margin-top: 3px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.login-btn{
    margin-top: 10px;
    background-color: greenyellow;
    color: #fff;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login-btn:hover{
    background-color: rgb(108, 176, 5);
}

button:active{
    scale: 0.8;
    transition: all ease 0.8s;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
=======
*{
    background-color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    padding: 10px;
}

/* for styling all heading with same font  */
.heading-font{
    font-family: 'Merienda', cursive;
}

/* for styling all texts with same font  */
.text-font{
    font-family: 'Poppins', sans-serif;
}

.adminLoginForm{
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    width: 400px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.adminLoginForm h3{
    text-align: center;
    font: 28px;
    background-color: black;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
}

.adminLoginForm input[type ="text"],
input[type = "password"]{
    display: block;
    width: 99%;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.toggle-password-visibility{
    margin-top: 3px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.login-btn{
    margin-top: 10px;
    background-color: greenyellow;
    color: #fff;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login-btn:hover{
    background-color: rgb(108, 176, 5);
}

button:active{
    scale: 0.8;
    transition: all ease 0.8s;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
>>>>>>> origin/main
}