<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* for styling all heading with same font  */
.heading-font{
    font-family: 'Merienda', cursive;
}

/* for styling all texts with same font  */
.text-font{
    font-family: 'Poppins', sans-serif;
}

.dashboard-container{
    background-color: #fff;
    color: black;
    margin-top: 0;
}

.heading{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 15px;
}

.heading h2{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
}

.dropdowntogler{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 30px;
    height: 30px;
    margin-right: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.avatar{
    font-size: 20px;
    font-weight: bold;
}
.dropdown-items{
    background-color: black;
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    z-index: 3;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}
.close-btn:hover{
    color: red;
}
.dropdown-items h3{
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.dropdown-items p{
    margin-top: 10px;
    background-color: black;
    color: white;
}
.dropdown-items a{
    margin-top: auto;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    align-self: flex-end;
}

.sidebar{
    position: fixed;
    top: 75px;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 30px;
    border-top: 2px solid white;
}

.sidebar_menu{
    margin-top: 10px;
    padding: 5px;
}
.menu-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
}

.menu-links{
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.settings-container{
    display: block;
    margin-top: 85px;
    margin-left: 280px;
    padding: 15px;
    width: 1100px;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.general-settings-container{
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}
.title-and-editbtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.hotel-information{
    padding: 10px;
    width: 100%;
}
.hotel-information h2{
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
    font-size: 24px;
}
.hotel-information p{
    text-align: left;
    font-size: 18px;
}

.editBtn{
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.edit-settings-contents{
    display: none;
    position: absolute;
    top: 0;
    left: 40%;
    width: 400px;
    background-color: #eee;
    padding: 10px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
    border-radius: 8px;
}

.edit-settings-contents h2{
    margin: auto;
    font-size: 24px;
}

.close-editMenu{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
}

.close-editMenu:hover{
    color: red;
}

.edit-settings-contents label{
    display: block;
}

.edit-settings-contents input[type="text"],
textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.confirmBtn{
    margin-top: 10px;
    padding: 10px;
    background-color: #1202f2;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.confirmBtn:hover{
    cursor: pointer;
    background-color: #0c00d3;
}

.contanct-settings{
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
}
.contact-heading-and-editbtn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.contact-settings-container{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
}
.column{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column label{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.column a{
    text-decoration: none;
    color: black;
}

.get-contact-details{
    display: none;
    width: 400px;
    padding: 10px;
    background-color: #eee;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 40%;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
    z-index: 3;
}

.get-contact-details label{
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-top: 10px;
}

.get-contact-details input{
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* team member section  */
.teamMembers{
    background-color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
}

.heading-and-add-button{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.close-addMemberModal:hover{
    color: red;
}

/* style for add member btn */
.addMembersBtn{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

/* style for heading inside modal  */
.heading-and-close{
    display: flex;
    justify-content: space-between;
}

/* style to close button inside modal  */
.close-addMemberModal{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #6c757d;
    font-size: 24px;
}

/* style for team member modal */
.addTeamMember-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 40%;
    width: 400px;
    border-radius: 10px;
    background-color: #eee;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.addTeamMember-modal input[type="text"],
input[type="file"],
select
{
    display: block;
    background-color: #fff;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
}
.submitBtn{
    padding: 10px;
    background-color: #1202f2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.submitBtn:hover{
    background-color: #0c00d3;
}

/* code to style team memberr view  */
.team-member-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team-member-info{
    margin-bottom: 15px;
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.team-member-info img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.team-member-info h4,
p{
    text-align: center;
}
.deleteMemberBtn{
    margin: auto;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 3px;
=======
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* for styling all heading with same font  */
.heading-font{
    font-family: 'Merienda', cursive;
}

/* for styling all texts with same font  */
.text-font{
    font-family: 'Poppins', sans-serif;
}

.dashboard-container{
    background-color: #fff;
    color: black;
    margin-top: 0;
}

.heading{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 15px;
}

.heading h2{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
}

.dropdowntogler{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 30px;
    height: 30px;
    margin-right: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.avatar{
    font-size: 20px;
    font-weight: bold;
}
.dropdown-items{
    background-color: black;
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    z-index: 3;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}
.close-btn:hover{
    color: red;
}
.dropdown-items h3{
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.dropdown-items p{
    margin-top: 10px;
    background-color: black;
    color: white;
}
.dropdown-items a{
    margin-top: auto;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    align-self: flex-end;
}

.sidebar{
    position: fixed;
    top: 75px;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 30px;
    border-top: 2px solid white;
}

.sidebar_menu{
    margin-top: 10px;
    padding: 5px;
}
.menu-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
}

.menu-links{
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.settings-container{
    display: block;
    margin-top: 85px;
    margin-left: 280px;
    padding: 15px;
    width: 1100px;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.general-settings-container{
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}
.title-and-editbtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.hotel-information{
    padding: 10px;
    width: 100%;
}
.hotel-information h2{
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
    font-size: 24px;
}
.hotel-information p{
    text-align: left;
    font-size: 18px;
}

.editBtn{
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.edit-settings-contents{
    display: none;
    position: absolute;
    top: 0;
    left: 40%;
    width: 400px;
    background-color: #eee;
    padding: 10px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
    border-radius: 8px;
}

.edit-settings-contents h2{
    margin: auto;
    font-size: 24px;
}

.close-editMenu{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
}

.close-editMenu:hover{
    color: red;
}

.edit-settings-contents label{
    display: block;
}

.edit-settings-contents input[type="text"],
textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.confirmBtn{
    margin-top: 10px;
    padding: 10px;
    background-color: #1202f2;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.confirmBtn:hover{
    cursor: pointer;
    background-color: #0c00d3;
}

.contanct-settings{
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
}
.contact-heading-and-editbtn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.contact-settings-container{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
}
.column{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column label{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.column a{
    text-decoration: none;
    color: black;
}

.get-contact-details{
    display: none;
    width: 400px;
    padding: 10px;
    background-color: #eee;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 40%;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
    z-index: 3;
}

.get-contact-details label{
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-top: 10px;
}

.get-contact-details input{
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* team member section  */
.teamMembers{
    background-color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
}

.heading-and-add-button{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.close-addMemberModal:hover{
    color: red;
}

/* style for add member btn */
.addMembersBtn{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

/* style for heading inside modal  */
.heading-and-close{
    display: flex;
    justify-content: space-between;
}

/* style to close button inside modal  */
.close-addMemberModal{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #6c757d;
    font-size: 24px;
}

/* style for team member modal */
.addTeamMember-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 40%;
    width: 400px;
    border-radius: 10px;
    background-color: #eee;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.addTeamMember-modal input[type="text"],
input[type="file"],
select
{
    display: block;
    background-color: #fff;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
}
.submitBtn{
    padding: 10px;
    background-color: #1202f2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.submitBtn:hover{
    background-color: #0c00d3;
}

/* code to style team memberr view  */
.team-member-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team-member-info{
    margin-bottom: 15px;
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.team-member-info img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.team-member-info h4,
p{
    text-align: center;
}
.deleteMemberBtn{
    margin: auto;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 3px;
>>>>>>> origin/main
}